@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

*{
    margin: 0;
}

body{
    font-family: Graduate;
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}