.background {
    background-image: url('https://cdn.discordapp.com/attachments/927845269855420419/1067451598806208542/ydays_Basket_6.gif');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

.imgGlobal:nth-child(1) {
    margin: 0px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
    z-index: 1;
}
.imgGlobal {
    margin-left: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid white;
}

.nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    background: white;
    padding: 25px 35px;
    border-radius: 15px;
    margin: 10px 5px;
    animation: selected 1s;
}

.nav > div:nth-child(2) {
    margin: 25px 0;
}

.content {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.warp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    overflow: auto;
    padding: 15px;
    margin: auto;
    justify-content: center;
}

.imgScale {
    width: 325px;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    animation: selected 2s;
}

.imgScale:hover {
    transform: scale(1.05);
}
.imgScaleSelected {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    animation: selected 0.3s;
    cursor: pointer;
}

@keyframes selected {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 975px) {
    .nav {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .warp {
        gap: 10px;
    }

    .imgScale {
        width: 45%;
        border-radius: 15px;
        transition: 0.5s;
    }
}